nav.c-nav.c-nav--medium.c-nav--floating(role='banner')
    .c-nav-logo #{site_title} #[span | ] Canberra
    ul.c-nav-menu
        li: a(href='#why', data-scroll) Why Mark?
        li: a(href='#testimonials', data-scroll) What people say
        li: a(href='#contact', data-scroll) Contact

header.c-hero
    .FlexEmbed
        .FlexEmbed--ratio.c-hero-ratioIndex
        .FlexEmbed-content
            .o-coverImage.c-hero--dark(style='background-image: url("assets/images/hero.jpg")')
                .o-aligner
                    .o-aligner-item
                        .c-hero-hgroup
                            h1.c-hero-display Function better. Choose better. Live better.
                            // <h3 class='c-hero-headline u-sm-size5of6 u-centerBlock u-marginT'>Discover new choices. Find new clarity. Transform old patterns. Experience change.</h3>
                            h3.c-hero-headline.u-sm-size5of6.u-centerBlock.u-marginT
                                | #{site_description}

main.Main(role="main")
    .o-container.o-container--md.c-block.u-textCenter#why
        .c-headline--inText Why talk to Mark?
        hr.c-rule--short
        //- h1.c-headline I listen to the unique story, strengths and goals of the individual to make meaningful change.
        h1.c-headline.u-sm-size5of6.u-centerBlock
            | I'll listen to your unique story, strengths and goals to help you make meaningful change.
        p.c-text--lg.u-sm-size5of6.u-spaceT15.u-centerBlock
            | &quot;My mission is be as effective as I can, helping people access their best selves to live the life they deeply want.&quot;

    .o-container.c-block.c-block--half
        .Grid.Grid--withGutter
            .Grid-cell.u-sm-size1of3
                //- .c-headline--number: span 1
                .u-textCenter
                    svg.o-icon.u-colorBrandComplement.u-spaceB(height='80', version='1.1', viewbox='0 0 80 80', width='80')
                        != partial("_shared/ic-listening")
                h3.c-headline--sm Respectful and attentive collaboration focussed on your unique experience.
                p.u-spaceTD4.u-sm-spaceTD2
                    | I help people change their lives through a process of listening closely to their experience, and creative collaboration.
        
            .Grid-cell.u-sm-size1of3.u-smDown-spaceT
                .u-textCenter
                    svg.o-icon.u-colorBrandComplement.u-spaceB(height='80', version='1.1', viewbox='0 0 80 80', width='80')
                        != partial("_shared/ic-strengths")
                h3.c-headline--sm A therapeutic process that focusses on untapped strengths within.
                p.u-spaceTD4.u-sm-spaceTD2
                    | I offer my clients the opportunity to experience a therapeutic process that can use each individual&rsquo;s interests and untapped strengths.
        
            .Grid-cell.u-sm-size1of3.u-smDown-spaceT
                .u-textCenter
                    svg.o-icon.u-colorBrandComplement.u-spaceB(height='80', version='1.1', viewbox='0 0 80 80', width='80')
                        != partial("_shared/ic-engage")
                h3.c-headline--sm Function better to feel better. So you can fully engage in life.
                p.u-spaceTD4.u-sm-spaceTD2
                    | Finding a new clarity around future possibilities opens the way towards an affirmative, strength-based future.
        
        hr.c-rule
    
    .o-container.o-container--md.c-block
        //- h1.c-headline.u-textCenter Over two decades #[span.u-lg-lineBreak of experience] #[span.u-lg-lineBreak and empathy]
        h1.c-headline.u-textCenter Over two decades of experience, knowledge and empathy

    .o-container.c-block.c-block--half
        .Grid.Grid--withGutterLg.o-aligner
            .Grid-cell.u-sm-size7of12
                p Mark Quinn is a registered psychologist, hypnotherapist trainee and associate of Dr Robert McNeilly, Ericksonian Institute of Tasmania with over two decades experience in solution-oriented brief therapy. 
                p.u-spaceT He has worked with adults, young people, families and couples and staff of community organisations with their own client bases, in a variety of settings including university counselling, community counselling centres and private practice.
                p.u-spaceT For several years he helped develop a community-based family therapy centre that went on to win three awards for innovative best practice.
                p.u-spaceT Mark offers counselling and training in solution and strengths-based approaches to therapy, mindfulness and hypnosis.
                //- .u-marginT
                //-     a.c-headline--inText.u-textLeft(href='/') Read more about Marks career &rarr;
            
            .Grid-cell.u-sm-size5of12.u-smDown-flexOrderFirst.u-smDown-spaceB.u-posRelative
                img(src='assets/images/markquinn.jpg', style='opacity: 0.8;')
                //- .o-posAbsoluteCenterAlt.o-coverImage(style='background-image: url("assets/images/markquinn.jpg"); opacity: 0.8;')

    .c-block.c-block--neutral#testimonials
        .o-container.u-textCenter
            h2.c-headline--inText What people say
            hr.c-rule--short
            .c-carousel-tabs
                .c-carousel-tab
                    input#tab-1(type='radio', name='tabgroup' checked).u-hide
                    label(for='tab-1').u-hide
                    .c-carousel-content
                        blockquote.c-headline--quote
                          | Mark has really helped me turn my life around. 
                          | I am completely unrecognisable to the person who turned up to his service, and I can not thank him enough for his help.
                          | #[span — 26 year-old male]

                //- .c-carousel-tab
                //-     input#tab-2(type='radio', name='tabgroup')
                //-     label(for='tab-2')
                //-     .c-carousel-content
                //-         blockquote.c-headline--quote
                //-           | 2. Mark was able to help not connected or understood me. Our discussions were easy, respectful. And in the end, what helped me was simply knowing what I could do for myself, what I was doing wrong.
                //- 
                //- .c-carousel-tab
                //-     input#tab-3(type='radio', name='tabgroup')
                //-     label(for='tab-3')
                //-     .c-carousel-content
                //-         blockquote.c-headline--quote
                //-           | 3. I felt others had not connected or understood me. Our discussions were easy, respectful. And in the end, was simply knowing what I could do for myself, rather than what I was doing wrong.

    .o-container.o-container--sm.c-block#contact
        .u-textCenter
            h2.c-headline--inText Get in touch
            hr.c-rule--short
            p.c-text Begin an affirmative strength-based collaboration to make real change. Write to me using the form below, or get in touch:

        .u-textCenter.u-marginT15
            p.c-text.u-colorBrand.u-marginB0 Email: 
                a.o-link(href='mailto:#{email}') #{email}
            p.c-text.u-colorBrand Call: 
                a.o-link(href='tel:#{phone}') #{phone}
            p.c-text.u-marginT15
                | If you&apos;re not ready, you can fill in your details to unlock a single-page PDF of three proven ways to make effective change today.
        
        //- form#js-contact-form.c-form.u-marginT15(method='POST', action='https://formspree.io/callumflack@gmail.com')
        form#js-contact-form.c-form.u-marginT15(method='POST', action='https://formspree.io/#{email}')
            #js-contact-flash-messages
            .c-form-group
                input.c-form-control(placeholder='First Name', name='first-name')
            .c-form-group
                input.c-form-control(placeholder='Your email address', name='email')
            .c-form-group
                textarea.c-form-control.c-form-control--textarea(placeholder='How can I help you?', name='message', rows='3')
            .c-form-group.u-textCenter.u-spaceT
                button.c-button.c-button--primary.u-size1of2(type='submit') Submit

    footer.c-footer
        .o-container
            nav.c-nav(role='banner')
                .c-nav-logo #{site_title}
                ul.c-nav-menu.u-textRight
                    li: a(data-scroll='', href='#why') Why Mark?
                    li: a(data-scroll='', href='#testimonials') What people say
                    li: a(data-scroll='', href='#contact') Contact
                
            .Grid.Grid--withGutters
                .Grid-cell.u-sm-size.u-marginR15
                    ul.o-listClean.c-textSmGrey-block
                        li Your Office Name
                        li 2/177 Pointing Drive,
                        li Canberra 4870
                .Grid-cell.u-sm-size.u-marginR15
                    ul.o-listClean.c-textSmGrey-block
                        li Call: +613 8460 9471
                        li Office: +613 8460 9471
                        li: a.o-linkLite(href="mailto:#{email}") #{email}
                .Grid-cell.u-sm-size.u-marginR15
                    ul.o-listClean.c-textSmGrey-block
                        li ABN #{abn}
                        li Copyright © Mark Quinn 2017
                        li Website by 
                            a.o-linkLite(href="#{author}") Patternworks

    .c-nav-trigger.u-sm-hide(data-modal-toggle) #[span Menu]
    .o-modal(tabindex="-1" role="dialog" aria-labelledby="mobileNav" data-modal="")
        .o-modal-dialog(role="document")
            .o-container.o-aligner(style="height:100vh")
                .o-aligner-item
                    .c-mobileNav-logo
                        a(href="/") #{site_title}
                    .c-mobileNav-menu
                        li: a(data-scroll, href='#why') Why Mark?
                        li: a(data-scroll, href='#testimonials') What people say
                        li: a(data-scroll, href='#contact') Contact
